@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

.inner-map {
  display: flex;
  top: 0;
  bottom: 0;
  width: 90vw;
  height: 100%;

  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.map {
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  bottom: 0;
  width: 50vw;
  height: 50vh;
}

.header,
div.body-content > .rio {
  background-color: green;
}
.header {
  width: 100%;
  height: 10vh;
}

.header-li {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header-li > ul,
.header-li,
div.body-content > .rio {
  color: white;
}

.content {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.text {
  width: 50rem;
}

div.body-content > .rio,
.body-content,
.body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.body-content {
  border: 5px solid rgb(50, 45, 45);
  border-radius: 10px;
  height: 50vh;
  width: 80vw;
  margin-top: 5rem;
}

div.body-content > .rio {
  height: 30%;
}

.body-content > div {
  height: 100%;
  width: 100%;
}

/* Estilo do fundo do modal */
.modal-background {
  display: none; /* Inicialmente escondido */
  position: fixed; /* Fixo na janela */
  z-index: 1; /* Acima de tudo */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: auto; /* Habilita o scroll se necessário */
  background-color: rgb(0, 0, 0); /* Fundo preto */
  background-color: rgba(0, 0, 0, 0.4); /* Fundo preto com opacidade */
}

/* Estilo do modal */
.modal-content {
  overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
  overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
  background-color: #fefefe;
  margin: 15% auto; /* 15% do topo e centralizado */
  padding: 20px;
  border: 1px solid #888;
  width: 95%; /* 80% da largura */
  word-wrap: break-word;
  height: 90vh;
}

.map-text-river-inner,
.map-text-fish-inner {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.map-text {
  height: 10%;
}

.img-map {
  margin-top: 1rem;
  border-radius: 1rem;
  height: 80%;
}

.img-map-1{
  margin-top: 1rem;
  border-radius: 1rem;
  height: 200%;
}

.img-map-2{
  margin-top: 1rem;
  border-radius: 1rem;
  height: 10%;
  width: 100%;

}
