@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

.map {
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  bottom: 0;
  width: 50vw;
  height: 50vh;
}

.header,
div.body-content > .rio {
  background-color: green;
}
.header {
  width: 100%;
  height: 10vh;
}

.header-li {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header-li > ul,
.header-li,
div.body-content > .rio {
  color: white;
}

.content {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.text {
  width: 50rem;
}

div.body-content > .rio,
.body-content,
.body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.body-content {
  border: 5px solid red;
  border-radius: 10px;
  height: 50vh;
  width: 80vw;
  margin-top: 5rem;
}

div.body-content > .rio {
  height: 30%;
}

.body-content > div {
  height: 100%;
  width: 100%;
}
